name: CI tests

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    name: Ruby ${{ matrix.ruby }}, Sidekiq ${{ matrix.sidekiq }}
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7
        ports: ["6379:6379"]
    strategy:
      matrix:
        ruby:
          - '3.0'
          - '3.1'
          - '3.2'
        sidekiq:
          - '6.0'
          - '6.4'
          - '6.5'
          - '7.0'
          - '7.3'
          - '8.1'
        exclude:
          - ruby: '3.0'
            sidekiq: '8.1'
          - ruby: '3.1'
            sidekiq: '8.1'

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/sidekiq_${{ matrix.sidekiq }}.gemfile

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run unit tests
        run: bundle exec rake spec:unit
      - name: Run integration tests
        env:
          REDIS_URL: "redis://localhost:6379"
        run: bundle exec rake spec:integration
